VERSSupportFiles/vers2.dtd

<!-- VICTORIAN ELECTRONIC RECORD STRATEGY (VERS)                            -->
<!-- Definition of VERS Encapsulated Object (VEO)                           -->
<!-- VERSION 2.0.4                                                          -->
<!-- April 2005                                                             -->
<!--                                                                        -->
<!-- URL: http://www.prov.vic.gov.au/vers/published/vers.dtd                -->
<!--                                                                        -->
<!-- Note that an XML DTD cannot distinguish between optional and           -->
<!-- conditional elements. Consequently a number of elements that are shown -->
<!-- as 'optional' in the DTD are actually mandatory under certain          -->
<!-- circumstances. Such elements are marked in the DTD and a full          -->
<!-- explanation of the circumstances under which the elements are mandatory-->
<!-- will be found in PROS 99/007 Specification 2: VERS Metadata Scheme.    -->
<!--                                                                        -->
<!-- Summary of changes from Version 1.0:                                   -->
<!--  * Added vers:LockSignatureBlock to prevent deletion of outer          -->
<!--    encapsulated layer (includes id attribute in SignatureBlock and     -->
<!--    version attribute in SignedObject).                                 -->
<!--  * Added vers:ModifiedVEO to allow documents to be modified (including -->
<!--    attributes in DocumentData).                                        -->
<!--  * Changed definition of vers:Subject to include vers:Subject          -->
<!--  * Added vers:AuxiliaryDescription element                             -->
<!--  * Added document structuring attributes to vers:Document, and         -->
<!--    vers:CollectionType, vers:CollectionDescription, and                -->
<!--    vers:DocumentIsVisible attributes.                                  -->
<!--                                                                        -->
<!-- Summary of changes from Version 2.0.0:                                 -->
<!--  * Allowed both 'Content' and 'Contents' in vers:DocumentData element  -->
<!--    to allow for inconsistency in standard.                             -->
<!--                                                                        -->
<!-- Summary of changes from Version 2.0.1:                                 -->
<!--  * Added Acceptance Message                                            -->
<!--                                                                        -->
<!-- Summary of changes from Version 2.0.2:                                 -->
<!--  * Made vers:AuxiliaryDescription repeatable in vers:FileMetadata      -->
<!--                                                                        -->
<!-- Summary of changes from Version 2.0.3:                                 -->
<!--  * Made vers:RenderingKeywords mandatory as cannot deal with VEOs      -->
<!--    without it                                                          -->

<!--  BASIC VEO STRUCTURE                                                   -->

<!-- modified in version 2.0 -->
<!-- A Signature Block and Lock Signature Block is mandatory in all VEOs -->
<!ELEMENT vers:VERSEncapsulatedObject (
	vers:VEOFormatDescription,
	vers:Version,
	vers:SignatureBlock*,
	vers:LockSignatureBlock?,
	vers:SignedObject)>
<!ATTLIST vers:VERSEncapsulatedObject
		xmlns:vers CDATA #IMPLIED
		xmlns:naa CDATA #IMPLIED>

<!ELEMENT vers:Version (#PCDATA)>
	<!-- currently should be 2.0 -->
<!ELEMENT vers:VEOFormatDescription (vers:Text)>

<!ELEMENT vers:SignedObject (
	vers:ObjectMetadata,
	vers:ObjectContent)>
<!-- Attribute added in version 2.0 and is mandatory in Version 2 VEOs -->
<!ATTLIST vers:SignedObject vers:VEOVersion CDATA #IMPLIED>

<!ELEMENT vers:ObjectMetadata (
	vers:ObjectType,
	vers:ObjectTypeDescription,
	vers:ObjectCreationDate)>
<!ELEMENT vers:ObjectType (#PCDATA)>
<!ELEMENT vers:ObjectTypeDescription (#PCDATA)>
<!ELEMENT vers:ObjectCreationDate (#PCDATA)>

<!-- modified in version 2.0 -->
<!ELEMENT vers:ObjectContent
	(vers:Record | vers:File | vers:ModifiedVEO)>

<!--  SIGNATURE BLOCK (& LOCK SIGNATURE BLOCK) DEFINITIONS                  -->

<!ELEMENT vers:SignatureBlock (
	vers:SignatureFormatDescription,
	vers:SignatureAlgorithm,
	vers:SignatureDate?,
	vers:Signer?,
	vers:Signature,
	vers:CertificateBlock+)>
<!-- Attribute added in version 2.0 and is mandatory in Version 2 VEOs -->
<!ATTLIST vers:SignatureBlock vers:id ID #IMPLIED>

<!-- Element and attribute added in version 2.0 and are mandatory in   -->
<!-- Version 2 VEOs -->
<!ELEMENT vers:LockSignatureBlock (
	vers:SignatureFormatDescription,
	vers:SignatureAlgorithm,
	vers:SignatureDate?,
	vers:Signer?,
	vers:Signature,
	vers:CertificateBlock+)>
<!ATTLIST vers:LockSignatureBlock
	vers:signsSignatureBlock IDREF #IMPLIED>

<!ELEMENT vers:SignatureFormatDescription (#PCDATA)>
<!ELEMENT vers:SignatureDate (#PCDATA)>
<!-- attribute added in version 2.0 -->
<!ATTLIST vers:SignatureDate scheme CDATA #IMPLIED>
<!ELEMENT vers:Signer (#PCDATA)>
<!ELEMENT vers:Signature (#PCDATA)>
<!ELEMENT vers:SignatureAlgorithm (
	vers:SignatureAlgorithmIdentifier,
	vers:SignatureAlgorithmParameters?)>
<!ELEMENT vers:SignatureAlgorithmIdentifier (#PCDATA)>
<!ELEMENT vers:SignatureAlgorithmParameters (#PCDATA)>
<!-- SignersCertificate renamed Certificate in v2 -->
<!ELEMENT vers:CertificateBlock (
	(vers:Certificate+|vers:SignersCertificate+),
	vers:CertificateReference?)>
<!ELEMENT vers:Certificate (#PCDATA)>
<!ELEMENT vers:SignersCertificate (#PCDATA)>
<!ELEMENT vers:CertificateReference (#PCDATA)>

<!--  COMMON ELEMENT DEFINITIONS                                            -->

<!ELEMENT vers:Text (#PCDATA)>
<!-- Agency Identifier and Series Identifier must be present upon export to -->
<!-- PROV. VERS RecordIdentifier must be present in a Record VEO. -->
<!ELEMENT vers:VEOIdentifier (
	vers:AgencyIdentifier?, vers:SeriesIdentifier?,
	vers:FileIdentifier+, vers:VERSRecordIdentifier?)>

<!--  MODIFIED VEO DEFINITION                                               -->

<!-- following three elements added in version 2.0 -->
<!ELEMENT vers:ModifiedVEO (
	vers:DateTimeModified,
	vers:RevisedVEO,
	vers:OriginalVEO)>
<!ATTLIST vers:ModifiedVEO vers:OriginalVEOType CDATA #IMPLIED>
<!ELEMENT vers:DateTimeModified (#PCDATA)>
<!ATTLIST vers:DateTimeModified scheme CDATA #IMPLIED>
<!ELEMENT vers:RevisedVEO (vers:SignedObject)>
<!ATTLIST vers:RevisedVEO vers:id CDATA #IMPLIED>
<!ELEMENT vers:OriginalVEO (
	vers:Version,
	vers:SignatureBlock*,
	vers:SignedObject)>

<!--  RECORD VEO DEFINITION                                                 -->

<!ELEMENT vers:Record (
	vers:RecordMetadata,
	vers:Document+)>

<!-- modified in version 2.0 -->
<!ELEMENT vers:RecordMetadata (
	naa:Agent+, naa:RightsManagement, naa:Title, vers:Subject*,
	naa:Description*, vers:AuxiliaryDescription*,
	naa:Language*, naa:Relation*, naa:Coverage*,
	naa:Function*, naa:Date, naa:Type?, naa:AggregationLevel,
	naa:Format?, naa:RecordIdentifier?, naa:ManagementHistory,
	naa:UseHistory?, naa:PreservationHistory?, naa:Location?,
	naa:Disposal, naa:Mandate*, vers:VEOIdentifier, vers:Transaction*)>

<!-- An encoding must be present except when the Documents are structured and -->
<!-- the Document is a non-leaf Document -->
<!ELEMENT vers:Document (
	vers:DocumentMetadata,
	vers:Encoding*)>
<!-- Attributes added in version 2.0 and vers:id is mandatory in Version 2 VEOs -->
<!ATTLIST vers:Document
	vers:id ID #IMPLIED
	vers:subordinateDocuments IDREFS #IMPLIED
	vers:subordinateDocumentRelationship CDATA #IMPLIED
	vers:parentDocument IDREF #IMPLIED
	vers:presentThisDocument CDATA #IMPLIED>
<!ELEMENT vers:ChildCollectionType (#PCDATA)>
<!ELEMENT vers:ChildCollectionDescription (#PCDATA)>
<!ELEMENT vers:DocumentIsVisible (#PCDATA)>

<!ELEMENT vers:DocumentMetadata (
	vers:DocumentAgent+, vers:DocumentRightsManagement*, vers:DocumentTitle+,
	vers:DocumentSubject*, vers:DocumentDescription*, vers:DocumentLanguage*,
	vers:DocumentRelation*, vers:DocumentCoverage*, vers:DocumentFunction*,
	vers:DocumentDate, vers:DocumentType*, vers:DocumentSource+ )>
<!ELEMENT vers:DocumentAgent (vers:Text)>
<!-- following element added in version 2.0 -->
<!ELEMENT vers:DocumentRightsManagement (vers:Text)>
<!ELEMENT vers:DocumentTitle (vers:Text)>
<!ELEMENT vers:DocumentSubject (vers:Text)>
<!ELEMENT vers:DocumentDescription (vers:Text)>
<!ELEMENT vers:DocumentLanguage (vers:Text)>
<!ELEMENT vers:DocumentRelation (vers:Text)>
<!-- following element added in version 2.0 -->
<!ELEMENT vers:DocumentFunction (vers:Text)>
<!ELEMENT vers:DocumentCoverage (vers:Text)>
<!ELEMENT vers:DocumentDate (vers:Text)>
<!ELEMENT vers:DocumentType (vers:Text)>
<!ELEMENT vers:DocumentSource (vers:Text)>
<!-- scheme attributes added in version 2.0 -->
<!ATTLIST vers:DocumentAgent scheme CDATA #IMPLIED>
<!ATTLIST vers:DocumentRightsManagement scheme CDATA #IMPLIED>
<!ATTLIST vers:DocumentTitle scheme CDATA #IMPLIED>
<!ATTLIST vers:DocumentSubject scheme CDATA #IMPLIED>
<!ATTLIST vers:DocumentDescription scheme CDATA #IMPLIED>
<!ATTLIST vers:DocumentLanguage scheme CDATA #IMPLIED>
<!ATTLIST vers:DocumentRelation scheme CDATA #IMPLIED>
<!ATTLIST vers:DocumentFunction scheme CDATA #IMPLIED>
<!ATTLIST vers:DocumentCoverage scheme CDATA #IMPLIED>
<!ATTLIST vers:DocumentDate scheme CDATA #IMPLIED>
<!ATTLIST vers:DocumentType scheme CDATA #IMPLIED>
<!ATTLIST vers:DocumentSource scheme CDATA #IMPLIED>

<!ELEMENT vers:Encoding (
	vers:EncodingMetadata,
	vers:DocumentData)>
<!-- Attribute added in version 2.0 and is mandatory in Version 2 VEOs -->
<!ATTLIST vers:Encoding
	vers:id ID #IMPLIED>

<!ELEMENT vers:EncodingMetadata (
	vers:FileEncoding,
	vers:SourceFileIdentifier?,
	vers:FileRendering)>
<!ELEMENT vers:FileEncoding (vers:Text)>
<!ELEMENT vers:SourceFileIdentifier (#PCDATA)>
<!ATTLIST vers:SourceFileIdentifier scheme CDATA #IMPLIED>
<!-- Rendering Keywords is mandatory in a Version 2 VEO         -->
<!ELEMENT vers:FileRendering (
	vers:RenderingText+,
	vers:RenderingKeywords)>

<!ELEMENT vers:RenderingText (vers:Text)>
<!ELEMENT vers:RenderingKeywords (#PCDATA)>
<!-- Note: DocumentData may be empty, contain character data, or a         -->
<!-- VERSEncapsulatedObject (if a Version 1 VEO). The '*' is an artifact of-->
<!-- XML. -->
<!ELEMENT vers:DocumentData (#PCDATA | vers:VERSEncapsulatedObject)*>
<!-- Attributes added in version 2.0 and vers:id is mandatory in Version 2 VEOs -->
<!-- 'Content' as well as 'Contents' attributes added in 2.0.1 to support  -->
<!-- inconsistency in standard.                                            -->
<!ATTLIST vers:DocumentData
	vers:id ID #IMPLIED
	vers:forContentsSeeElement IDREF #IMPLIED
	vers:forContentSeeElement IDREF #IMPLIED
	vers:forContentsSeeOriginalDocumentAndEncoding CDATA #IMPLIED
	vers:forContentSeeOriginalDocumentAndEncoding CDATA #IMPLIED>

<!--  FILE VEO DEFINITION                                                   -->

<!ELEMENT vers:File (
	vers:FileMetadata,
	vers:FileDisposal?)>

<!ELEMENT vers:FileDisposal (
	vers:DisposalSchedule,
	vers:DisposalDate,
	vers:AuthorizingOfficer)>
<!ELEMENT vers:DisposalSchedule (#PCDATA)>
<!ELEMENT vers:DisposalDate (#PCDATA)>
<!ELEMENT vers:AuthorizingOfficer (#PCDATA)>
<!ATTLIST vers:DisposalSchedule scheme CDATA #IMPLIED>
<!ATTLIST vers:DisposalDate scheme CDATA #IMPLIED>
<!ATTLIST vers:AuthorizingOfficer scheme CDATA #IMPLIED>

<!ELEMENT vers:FileMetadata (
	naa:Agent+, naa:RightsManagement, naa:Title, vers:Subject*,
	naa:Description*, vers:AuxiliaryDescription*, naa:Language*,
	naa:Relation*, naa:Coverage*, naa:Function*, vers:Date, naa:Type?,
	naa:AggregationLevel, naa:Format?, naa:RecordIdentifier?,
	naa:ManagementHistory+, naa:UseHistory*, naa:PreservationHistory*,
	naa:Location?, naa:Disposal, naa:Mandate*, vers:VEOIdentifier)>

<!ELEMENT vers:Date (
	naa:DateTimeCreated, naa:DateTimeTransacted,
	naa:DateTimeRegistered, vers:DateTimeClosed?)>
<!ELEMENT vers:DateTimeClosed (#PCDATA)>
<!ATTLIST vers:DateTimeClosed scheme CDATA #IMPLIED>

<!--  NAA METADATA DEFINITIONS                                              -->
<!--  Sourced from Recordkeeping Metadata Standard for Commonwealth         -->
<!--  Agencies, Version 1.0, National Archives of Australia                 -->
<!ELEMENT naa:Agent (
	naa:AgentType+, naa:Jurisdiction*, naa:CorporateId?,
	naa:CorporateName+, naa:PersonId?, naa:PersonalName*,
	naa:SectionName*, naa:PositionName*, naa:ContactDetails*,
	naa:Email*, naa:DigitalSignature*)>
<!ELEMENT naa:RightsManagement (
	naa:SecurityClassification, naa:Caveat*, naa:Codeword*,
	naa:ReleasabilityIndicator*, naa:AccessStatus?,
	naa:UsageCondition*, naa:EncryptionDetails?)>
<!ELEMENT naa:Title (
	naa:SchemeType+, naa:SchemeName, naa:TitleWords,
	naa:Alternative*)>
<!-- modified in version 2.0 -->
<!ELEMENT vers:Subject (
	vers:KeywordLevel?, vers:Keyword+, vers:Subject*)>
<!ELEMENT naa:Relation (
	naa:RelatedItemId+, naa:RelationType+,
	naa:RelationDescription*)>
<!-- following element modified in version 2.0 -->
<!-- Note: RelatedItemId may contain character data or a vers:VEOIdentifier -->
<!-- The '*' is an artifact of XML -->
<!ELEMENT naa:RelatedItemId (#PCDATA | vers:VEOIdentifier)*>
<!ELEMENT naa:Coverage (
	(naa:Jurisdication | naa:Jurisdiction)*, naa:PlaceName*, naa:PeriodName*)>
<!ELEMENT naa:Function (
	naa:FunctionDescriptor+, naa:ActivityDescriptor+,
	naa:ThirdLevelDescriptor*)>
<!ELEMENT naa:Date (
	naa:DateTimeCreated, naa:DateTimeTransacted, naa:DateTimeRegistered)>
<!ELEMENT naa:Format (
	naa:MediaFormat, naa:DataFormat, naa:Medium, naa:Extent*)>
<!-- following element modified in version 2.0 -->
<!-- Note: RecordIdentifier may contain character data or a -->
<!-- vers:VEOIdentifier. The '*' is an artifact of XML -->
<!ELEMENT naa:RecordIdentifier (#PCDATA | vers:VEOIdentifier)*>
<!ELEMENT naa:ManagementHistory (vers:ManagementEvent+)>
<!ELEMENT vers:ManagementEvent (
	naa:EventDateTime, naa:EventType, naa:EventDescription)>
<!ELEMENT naa:UseHistory (vers:Use+)>
<!ELEMENT vers:Use (
	naa:UseDateTime, naa:UseType, naa:UseDescription?)>
<!ELEMENT naa:PreservationHistory (
	vers:Action+, naa:NextAction?, naa:NextActionDue?)>
<!ELEMENT vers:Action (
	naa:ActionDateTime, naa:ActionType, naa:ActionDescription)>
<!ELEMENT naa:Location (
	naa:CurrentLocation, naa:HomeLocationDetails,
	naa:HomeStorageDetails, naa:RKSId?)>
<!ELEMENT naa:Disposal (
	naa:DisposalAuthorisation+, naa:Sentence,
	naa:DisposalActionDue?, naa:DisposalStatus?)>
<!ELEMENT naa:Mandate (
	naa:MandateType+, naa:RefersTo+, naa:MandateName+,
	naa:MandateReference*, naa:Requirement+)>
<!ELEMENT vers:Transaction (
	vers:TransactionIdentifier, vers:Originator, vers:Recipient*,
	vers:ActionRequired*, vers:OriginatorsCopy,
	vers:TransactionType*, vers:BusinessProcedureReference*,
	vers:TransactionReference*, vers:TransactionLinkage*)>

<!ELEMENT naa:AgentType (#PCDATA)>
<!ELEMENT naa:Jurisdiction (#PCDATA)>
<!ELEMENT naa:CorporateId (#PCDATA)>
<!ELEMENT naa:CorporateName (#PCDATA)>
<!ELEMENT naa:PersonId (#PCDATA)>
<!ELEMENT naa:PersonalName (#PCDATA)>
<!ELEMENT naa:SectionName (#PCDATA)>
<!ELEMENT naa:PositionName (#PCDATA)>
<!ELEMENT naa:ContactDetails (#PCDATA)>
<!ELEMENT naa:Email (#PCDATA)>
<!ELEMENT naa:DigitalSignature (#PCDATA)>
<!ELEMENT naa:SecurityClassification (#PCDATA)>
<!ELEMENT naa:Caveat (#PCDATA)>
<!ELEMENT naa:Codeword (#PCDATA)>
<!ELEMENT naa:ReleasabilityIndicator (#PCDATA)>
<!ELEMENT naa:AccessStatus (#PCDATA)>
<!ELEMENT naa:UsageCondition (#PCDATA)>
<!ELEMENT naa:EncryptionDetails (#PCDATA)>
<!ELEMENT naa:SchemeType (#PCDATA)>
<!ELEMENT naa:SchemeName (#PCDATA)>
<!ELEMENT naa:TitleWords (#PCDATA)>
<!ELEMENT naa:Alternative (#PCDATA)>
<!ELEMENT vers:KeywordLevel (#PCDATA)>
<!ELEMENT vers:Keyword (#PCDATA)>
<!ELEMENT naa:Description (#PCDATA)>
<!-- Added in version 2.0 -->
<!ELEMENT vers:AuxiliaryDescription (#PCDATA)>
<!ELEMENT naa:Language (#PCDATA)>
<!ELEMENT naa:RelationType (#PCDATA)>
<!ELEMENT naa:RelationDescription (#PCDATA)>
<!ELEMENT naa:Jurisdication (#PCDATA)>
<!ELEMENT naa:PlaceName (#PCDATA)>
<!ELEMENT naa:PeriodName (#PCDATA)>
<!ELEMENT naa:FunctionDescriptor (#PCDATA)>
<!ELEMENT naa:ActivityDescriptor (#PCDATA)>
<!ELEMENT naa:ThirdLevelDescriptor (#PCDATA)>
<!ELEMENT naa:DateTimeCreated (#PCDATA)>
<!ELEMENT naa:DateTimeTransacted (#PCDATA)>
<!ELEMENT naa:DateTimeRegistered (#PCDATA)>
<!ELEMENT naa:Type (#PCDATA)>
<!ELEMENT naa:AggregationLevel (#PCDATA)>
<!ELEMENT naa:MediaFormat (#PCDATA)>
<!ELEMENT naa:DataFormat (#PCDATA)>
<!ELEMENT naa:Medium (#PCDATA)>
<!ELEMENT naa:Extent (#PCDATA)>
<!ELEMENT naa:EventDateTime (#PCDATA)>
<!ELEMENT naa:EventType (#PCDATA)>
<!ELEMENT naa:EventDescription (#PCDATA)>
<!ELEMENT naa:UseDateTime (#PCDATA)>
<!ELEMENT naa:UseType (#PCDATA)>
<!ELEMENT naa:UseDescription (#PCDATA)>
<!ELEMENT naa:ActionDateTime (#PCDATA)>
<!ELEMENT naa:ActionType (#PCDATA)>
<!ELEMENT naa:ActionDescription (#PCDATA)>
<!ELEMENT naa:NextAction (#PCDATA)>
<!ELEMENT naa:NextActionDue (#PCDATA)>
<!ELEMENT naa:CurrentLocation (#PCDATA)>
<!ELEMENT naa:HomeLocationDetails (#PCDATA)>
<!ELEMENT naa:HomeStorageDetails (#PCDATA)>
<!ELEMENT naa:RKSId (#PCDATA)>
<!ELEMENT naa:DisposalAuthorisation (#PCDATA)>
<!ELEMENT naa:Sentence (#PCDATA)>
<!ELEMENT naa:DisposalActionDue (#PCDATA)>
<!ELEMENT naa:DisposalStatus (#PCDATA)>
<!ELEMENT naa:MandateType (#PCDATA)>
<!ELEMENT naa:RefersTo (#PCDATA)>
<!ELEMENT naa:MandateName (#PCDATA)>
<!ELEMENT naa:MandateReference (#PCDATA)>
<!ELEMENT naa:Requirement (#PCDATA)>
<!ELEMENT vers:AgencyIdentifier (vers:Text)>
<!ELEMENT vers:SeriesIdentifier (vers:Text)>
<!ELEMENT vers:FileIdentifier (vers:Text)>
<!ELEMENT vers:VERSRecordIdentifier (vers:Text)>
<!ELEMENT vers:TransactionIdentifier (vers:Text)>
<!ELEMENT vers:Originator (vers:Text)>
<!ELEMENT vers:Recipient (vers:Text)>
<!ELEMENT vers:ActionRequired (vers:Text)>
<!ELEMENT vers:OriginatorsCopy (#PCDATA)>
<!ELEMENT vers:TransactionType (vers:Text)>
<!ELEMENT vers:BusinessProcedureReference (vers:Text)>
<!ELEMENT vers:TransactionReference (vers:Text)>
<!ELEMENT vers:TransactionLinkage (vers:Text)>

<!ATTLIST naa:AgentType scheme CDATA #IMPLIED>
<!ATTLIST naa:Jurisdiction scheme CDATA #IMPLIED>
<!ATTLIST naa:CorporateId scheme CDATA #IMPLIED>
<!ATTLIST naa:CorporateName scheme CDATA #IMPLIED>
<!ATTLIST naa:PersonId scheme CDATA #IMPLIED>
<!ATTLIST naa:PersonalName scheme CDATA #IMPLIED>
<!ATTLIST naa:SectionName scheme CDATA #IMPLIED>
<!ATTLIST naa:PositionName scheme CDATA #IMPLIED>
<!ATTLIST naa:ContactDetails scheme CDATA #IMPLIED>
<!ATTLIST naa:Email scheme CDATA #IMPLIED>
<!ATTLIST naa:DigitalSignature scheme CDATA #IMPLIED>
<!ATTLIST naa:SecurityClassification scheme CDATA #IMPLIED>
<!ATTLIST naa:Caveat scheme CDATA #IMPLIED>
<!ATTLIST naa:Codeword scheme CDATA #IMPLIED>
<!ATTLIST naa:ReleasabilityIndicator scheme CDATA #IMPLIED>
<!ATTLIST naa:AccessStatus scheme CDATA #IMPLIED>
<!ATTLIST naa:UsageCondition scheme CDATA #IMPLIED>
<!ATTLIST naa:EncryptionDetails scheme CDATA #IMPLIED>
<!ATTLIST naa:SchemeType scheme CDATA #IMPLIED>
<!ATTLIST naa:SchemeName scheme CDATA #IMPLIED>
<!ATTLIST naa:TitleWords scheme CDATA #IMPLIED>
<!ATTLIST naa:Alternative scheme CDATA #IMPLIED>
<!ATTLIST vers:KeywordLevel scheme CDATA #IMPLIED>
<!ATTLIST vers:Keyword scheme CDATA #IMPLIED>
<!ATTLIST naa:Description scheme CDATA #IMPLIED>
<!ATTLIST vers:AuxiliaryDescription scheme CDATA #IMPLIED>
<!ATTLIST naa:Language scheme CDATA #IMPLIED>
<!ATTLIST naa:RelatedItemId scheme CDATA #IMPLIED>
<!ATTLIST naa:RelationType scheme CDATA #IMPLIED>
<!ATTLIST naa:RelationDescription scheme CDATA #IMPLIED>
<!ATTLIST naa:Jurisdication scheme CDATA #IMPLIED>
<!ATTLIST naa:PlaceName scheme CDATA #IMPLIED>
<!ATTLIST naa:PeriodName scheme CDATA #IMPLIED>
<!ATTLIST naa:FunctionDescriptor scheme CDATA #IMPLIED>
<!ATTLIST naa:ActivityDescriptor scheme CDATA #IMPLIED>
<!ATTLIST naa:ThirdLevelDescriptor scheme CDATA #IMPLIED>
<!ATTLIST naa:DateTimeCreated scheme CDATA #IMPLIED>
<!ATTLIST naa:DateTimeRegistered scheme CDATA #IMPLIED>
<!ATTLIST naa:DateTimeTransacted scheme CDATA #IMPLIED>
<!ATTLIST naa:Type scheme CDATA #IMPLIED>
<!ATTLIST naa:AggregationLevel scheme CDATA #IMPLIED>
<!ATTLIST naa:MediaFormat scheme CDATA #IMPLIED>
<!ATTLIST naa:DataFormat scheme CDATA #IMPLIED>
<!ATTLIST naa:Medium scheme CDATA #IMPLIED>
<!ATTLIST naa:Extent scheme CDATA #IMPLIED>
<!ATTLIST naa:EventDateTime scheme CDATA #IMPLIED>
<!ATTLIST naa:EventType scheme CDATA #IMPLIED>
<!ATTLIST naa:EventDescription scheme CDATA #IMPLIED>
<!ATTLIST naa:UseDateTime scheme CDATA #IMPLIED>
<!ATTLIST naa:UseType scheme CDATA #IMPLIED>
<!ATTLIST naa:UseDescription scheme CDATA #IMPLIED>
<!ATTLIST naa:ActionDateTime scheme CDATA #IMPLIED>
<!ATTLIST naa:ActionType scheme CDATA #IMPLIED>
<!ATTLIST naa:ActionDescription scheme CDATA #IMPLIED>
<!ATTLIST naa:NextAction scheme CDATA #IMPLIED>
<!ATTLIST naa:NextActionDue scheme CDATA #IMPLIED>
<!ATTLIST naa:CurrentLocation scheme CDATA #IMPLIED>
<!ATTLIST naa:HomeLocationDetails scheme CDATA #IMPLIED>
<!ATTLIST naa:HomeStorageDetails scheme CDATA #IMPLIED>
<!ATTLIST naa:RKSId scheme CDATA #IMPLIED>
<!ATTLIST naa:DisposalAuthorisation scheme CDATA #IMPLIED>
<!ATTLIST naa:Sentence scheme CDATA #IMPLIED>
<!ATTLIST naa:DisposalActionDue scheme CDATA #IMPLIED>
<!ATTLIST naa:DisposalStatus scheme CDATA #IMPLIED>
<!ATTLIST naa:MandateType scheme CDATA #IMPLIED>
<!ATTLIST naa:RefersTo scheme CDATA #IMPLIED>
<!ATTLIST naa:MandateName scheme CDATA #IMPLIED>
<!ATTLIST naa:MandateReference scheme CDATA #IMPLIED>
<!ATTLIST naa:Requirement scheme CDATA #IMPLIED>
<!-- Remaining added in version 2.0 -->
<!ATTLIST vers:Originator scheme CDATA #IMPLIED>
<!ATTLIST vers:Recipient scheme CDATA #IMPLIED>
<!ATTLIST vers:ActionRequired scheme CDATA #IMPLIED>
<!ATTLIST vers:TransactionType scheme CDATA #IMPLIED>
<!ATTLIST vers:BusinessProcedureReference scheme CDATA #IMPLIED>
<!ATTLIST vers:TransactionReference scheme CDATA #IMPLIED>
<!ATTLIST vers:TransactionLinkage scheme CDATA #IMPLIED>

<!--  ACCEPTANCE MESSAGE DEFINITION                                         -->
<!--    A document with this content is generated to formally accept        -->
<!--    responsibility for preserving the contents of VEO                   -->

<!ELEMENT vers:AcceptanceMessage
	(vers:Version, vers:TransferReference, vers:AcceptanceDate,
	vers:Acknowledgement+)>
<!ATTLIST vers:AcceptanceMessage xmlns:vers CDATA #IMPLIED>
<!ELEMENT vers:TransferReference (#PCDATA)>
<!ELEMENT vers:AcceptanceDate (#PCDATA)>
<!ELEMENT vers:Acknowledgement (vers:YourReference, vers:PROVReference?)>
<!ELEMENT vers:YourReference (vers:VEOIdentifier)>
<!ELEMENT vers:PROVReference (vers:VEOIdentifier)>

